## What is a Database 

#### A database is a collection of data stored in a format that can easily be accessed, modified, protected and analysed. 



 
## Two main types of modern databases


*The two main types of modern databases to choose from are relational and non-relational

### Relational /SQL

* A relational database is a type of database that uses a structure that allows us to identify and access data in relation to another piece of data in the database.
* They have a table-based data structure, with a strict, predefined schema required.


### Non-relational/ NoSQL 
* NoSQL databases, or non-relational databases, can be document based, graph databases, key-value pairs, or wide-column stores. NoSQL databases don’t require any predefined schema, allowing you to work more freely with “unstructured data.”


You can think of a database as a collection of tables, where each table is a collection of rows and columns.
 Conceptually, these tables exist in two ways:

##### Logical: 
The logical view of a table is the way the data is organized and presented to the user. This is the view you see when you query a table.

##### Physical:
The physical view of a table is the way the data is stored on disk. This is the view you see when you look at the underlying files that make up the table.

Databases are designed to optimize for the logical view of a table, which is the view that users interact with. However, the physical view of a table is also important, as it determines how the data is stored and accessed.


## DBMS (Database Management System)
- Database Management System (DBMS) is a software that is used to define, create and maintain a database and provides controlled access to the data. They are RDBMS & NoSQL.
- Or just a software used to manage a database.


### Relational Database Management System

- A relational database management system (RDBMS) is a program that allows you to create, update, and administer a relational database. 
- Most relational database management systems use the SQL language to access the database. 

##### RDBMS examples include
* MySQL, 
* PostgreSQL, 
* Oracle DB
* SQL Server
* SQLite

# Installing MySQL


Install notes :

Windows 10 / 11
https://www.youtube.com/watch?v=BxdSUGBs0gM&t=228s

Download Link: 
https://dev.mysql.com/downloads/windows/installer/8.0.html

Mac 
https://www.youtube.com/watch?v=x9NbReqBVOY

Online Editor https://sqliteonline.com/

# Working with Relational Databases.

- SQL or SEQUEL is the language used to interact with RDBMS.
- SQL is a programming language used to communicate with data stored in relational databases.
- Unlike other languages, SQL is a declarative language; one just needs to specify the result that they want to see and submit the query to RDBMS. 
- RDBMS executes the code at the backend and gives the desired output.

### Subsets of SQL
SQL queries can be categorized into 4 main Categories:
- **DDL (Data Definition Language)**
    - As the name suggests, these types of SQL commands are used to define & modify the structure of data. 
    - Like the structure of a table, schema.
    - Includes commands like: CREATE, ALTER, DROP etc.
- **DML (Data Manipulation Language)**
    - These are commands used to manipulate data in existing databases.
    - Includes commands like: SELECT, INSERT, UPDATE, DELETE.
- **DCL (Data Control Language)**
    - These commands control the access of the data stored in the database.
    - Includes: GRANT, REVOKE.
- **TCL (Transaction Control Language)**
    - Commands used to manage transactions in the database.
    - Used to manage changes made to data in a table by the DML statements.
    - It also allows statements to be grouped together into logical transactions.
    - Includes: COMMIT, ROLLBACK, SAVEPOINT.

## SQL Statements

* A statement is a text that a database recognizes as a valid command.
* Statements always end with a semi colon.
* Two dashes ( -- ) before an SQL statement indicate a comment.

In [ ]:
# Basic structure of an SQL Statements
CREATE TABLE table_name (
    column_1 datatype,
    column_2 datatype,
    column_3 datatype
);

#### 1) CREATE TABLE 
* This is a <b>clause</b>.
* Clauses perform specific tasks in SQL.
* By convention clauses are written in UPPERCASE.
* Clauses are also called <b>commands</b>

#### 2) table_name
* Refers to the name of the table that the command is applied to.

#### 3) column_1, datatype, column_2, column_3
* These are called parameters. They are passed to the clause as arguments.

## SQL CLAUSES
- Clauses are in-built functions available to us in SQL.
- Clauses help us filter and analyze data quickly. 
- When we have large amounts of data stored in the database, we use Clauses to query and get data required by the user.

#### 1) CREATE TABLE
* Create allows us to create new table in the database.

In [ ]:
CREATE TABLE Punks (
  ID INT PRIMARY KEY,
  Sex VARCHAR(10),
  Type VARCHAR(20),
  Skin VARCHAR(20),
  Slots INT,
);

In [ ]:
CREATE TABLE Transactions (
  Txn VARCHAR(66) PRIMARY KEY, 
  PunkID INT,
  FromAddress VARCHAR(100),
  ToAddress VARCHAR(100),
  Crypto DECIMAL(20, 8),
  USD DECIMAL(20, 2),
  TransactionDate DATETIME,  
  FOREIGN KEY (PunkID) REFERENCES Punks(ID)
);

## PRIMARY KEY vs FOREIGN KEY

- Each table has a column that uniquely identifies each row of that table. The special columns are called <b>Primary Keys</b>

###### Requirements  for Primary Key
- None of the values can be NULL.
- Each value must be unique.
- A table can not have more than one primary key column.

<b>When a primary key for one table appears in a different table its called a <u>FOREIGN KEY</u></b>

#### 2) INSERT
- Inserts a new row into the table.

In [ ]:
INSERT INTO Punks (ID, Sex, Type, Skin, Slots) VALUES
(123, 'Male', 'Human', 'Light', 2),
(456, 'Female', 'Zombie', 'Green', 3),
(789, 'Male', 'Ape', 'Dark', 1);

In [ ]:
INSERT INTO Transactions (Txn, PunkID, FromAddress, ToAddress, Crypto, USD, TransactionDate) VALUES
('0xabc123', 123, '0xfrom1', '0xto1', 15.5, 30000, '2021-03-15 12:00:00'),
('0xdef456', 456, '0xfrom2', '0xto2', 100.0, 250000, '2021-06-10 09:30:00'),
('0xghi789', 789, '0xfrom3', '0xto3', 200.0, 600000, '2021-12-01 18:45:00');

In [ ]:
# After adding new column Rank to Punks table, insert more values
INSERT INTO Punks (ID, Sex, Type, Skin, Slots, Rank) VALUES
(101, 'Female', 'Alien', 'Blue', 4, 'Legendary'),
(102, 'Male', 'Human', 'Light', 2, 'Common'),
(103, 'Female', 'Human', 'Dark', 3, 'Rare'),
(104, 'Male', 'Ape', 'Brown', 1, 'Legendary'),
(105, 'Female', 'Alien', 'Purple', 5, 'Rare'),
(106, 'Male', 'Zombie', 'Green', 2, 'Common'),
(107, 'Female', 'Human', 'Light', 1, 'Common'),
(108, 'Male', 'Human', 'Dark', 3, 'Rare'),
(109, 'Female', 'Ape', 'Dark', 2, 'Rare'),
(110, 'Male', 'Alien', 'Blue', 4, 'Legendary');

In [ ]:
# Add rows to transactions table
INSERT INTO Transactions (Txn, PunkID, FromAddress, ToAddress, Crypto, USD, TransactionDate) VALUES
('0xaaa111', 101, '0xfrom4', '0xto4', 50.0, 100000, '2022-01-10 10:00:00'),
('0xbbb222', 102, '0xfrom5', '0xto5', 75.0, 150000, '2022-02-15 11:30:00'),
('0xccc333', 103, '0xfrom6', '0xto6', 20.0, 50000, '2022-03-20 12:45:00'),
('0xddd444', 104, '0xfrom7', '0xto7', 150.0, 350000, '2022-04-25 14:00:00'),
('0xeee555', 105, '0xfrom8', '0xto8', 90.0, 200000, '2022-05-30 15:15:00'),
('0xfff666', 106, '0xfrom9', '0xto9', 60.0, 120000, '2022-06-05 16:30:00'),
('0xggg777', 107, '0xfrom10', '0xto10', 30.0, 70000, '2022-07-10 17:45:00'),
('0xhhh888', 108, '0xfrom11', '0xto11', 80.0, 180000, '2022-08-15 19:00:00'),
('0xiii999', 109, '0xfrom12', '0xto12', 110.0, 250000, '2022-09-20 20:15:00'),
('0xjjj000', 110, '0xfrom13', '0xto13', 95.0, 220000, '2022-10-25 21:30:00');

#### 3) SELECT
- SELECT is used to fetch data from the database

In [ ]:
SELECT *
FROM Punks;

# * indicates we want to select all columns. We can also select individual columns ( SELECT ID,Type FROM Punks )
# FROM Punks - Specifies the table we want to query the data from.

#### 4) ALTER
Alter statement adds new column to a table.

In [ ]:
ALTER TABLE Punks
ADD COLUMN Rank VARCHAR(20);
# The row that existed before the column was created have NULL value for Rank column

#### 5) UPDATE
- Update statement edits a row in a table.
- Used when you want to update existing records.

In [ ]:
UPDATE Punks
SET Rank='Common'  # 'Common', 'Rare', 'Legendary'
WHERE ID=123;
# SET - Indicates the column we want to update.
# WHERE - Indicates which row to update with the new column value.

#### 6) DELETE
- Deletes one or more rows from a table.

In [ ]:
DELETE FROM Punks 
WHERE Rank IS NULL;

##### We will explore more clauses as we continue.

#### Writing SQL Queries
- Querying is retrieving information stored in a database.
- Querying utilises the SELECT clause.
- The data returned is stored in a result table, called the result-set.

In [ ]:
SELECT *
FROM Punks;

In [ ]:
# SELECT SPECIFIC COLUMNS 
SELECT ID,Type,Skin
FROM Punks;

## AS
- <b>AS</b> is a SQL keyword used for renaming a column or table using an alias

In [ ]:
SELECT 
  ID, 
  Type, 
  Skin, 
  Slots, 
  Slots + 1 AS 'Bonus Slot',
  Slots * 100 AS PowerLevel
FROM Punks;

In [ ]:
SELECT 
  Txn, 
  DATE(TransactionDate) AS 'Date',
  TIME(TransactionDate) AS 'Time',
  CONCAT(FromAddress, ' -> ', ToAddress) AS 'Transfer Path'
FROM Transactions;

### DISTINCT
- When we are examining data in a table, it can be helpful to know what distinct values exist in a particular column.

In [ ]:
SELECT DISTINCT Skin
FROM Punks;

In [ ]:
SELECT DISTINCT FromAddress
FROM Transactions;

### WHERE
- We can use <b>WHERE</b> to restrict a query result inorder to obtain the data we are only looking for.
- WHERE filters the result set to include only the rows where the condition is <b>True</b>
- Example you may want to get only the Punks that have 2 or more Slots.
- Types of operators 
    - <b> <, <=, >, =>, != </b>

In [ ]:
SELECT *
FROM Punks
WHERE Slots >= 2;

In [ ]:
SELECT *
FROM Transactions
WHERE Crypto > 50;

### LIKE
- <b>LIKE</b> is used when you want to compare similar values.
-  For instance, we want to select transactions where the FromAddress starts with 0xfrom
- % wildcard character is used.
- When % is used before a pattern, the value should start with that pattern.
- When its used after the pattern, the value should end with that pattern.
- Can also be used at the start and end of a pattern eg %man%.
    This basically means that the value must contain the word man in it.

<br>
<br>
* We can also use wildcard _. eg j_n - Meansthe value should start with j and end with n and have just one character in the middle.

In [ ]:
SELECT *
FROM Transactions
WHERE FromAddress LIKE '0xfrom%';

### IS NULL
- Unknown or missing values are indicated by NULL.
- The opposite of IS NULL is IS NOT NULL.

In [ ]:
SELECT *
FROM Punks 
WHERE Rank IS NULL

### BETWEEN
- The BETWEEN OPERATOR is used with WHERE clause to filter the result set within a certain range.
- It accepts two variables two values that are either numbers, text, date.
- When the values ate text, BETWEEN filters the result set for within alphabetical range.

In [ ]:
SELECT *
FROM Transactions
WHERE Crypto BETWEEN 50 AND 200;

### AND
- When we want to combine multiple conditions in a WHERE clause to make the result set more specific and useful.
- We can do that using <b>AND</b>.

In [ ]:
# Select all transactions where The PunkID is greater than 105 AND
# The Crypto amount multiplied by 2 is greater than 150.

SELECT *
FROM Transactions
WHERE PunkID > 105 AND Crypto * 2 > 150;

### OR
- Can also be used to combine multiple conditions in <b>WHERE</b> but has fundamental difference from <b>AND</b>.
- <b>OR</b> - Displays the rows if any condition is True.
- <b>AND</b> - Displays the rows if all condition is True.

In [ ]:
SELECT *
FROM Punks
WHERE Slots = 5 OR Rank = 'Legendary';

In [ ]:
SELECT *
FROM Transactions
WHERE Crypto > 100 OR TransactionDate = '2022-01-10 10:00:00';

### IN
- The IN operator allows you to specify multiple values in a WHERE clause.
- The IN operator is a shorthand for multiple OR conditions.

In [ ]:
SELECT *
FROM Punks
WHERE Rank IN ('Common', 'Rare');

In [ ]:
SELECT *
FROM Transactions
WHERE PunkID IN (101, 105, 110);

### REGEXP OPERATOR
- SQL allows you to match pattern right in the SQL statements by using REGEXP operator.

In [ ]:
# Select punks where Type contains 'man'
SELECT *
FROM Punks
WHERE Type REGEXP 'man';

In [ ]:
# Select transactions where FromAddress ends with 3
SELECT *
FROM Transactions
WHERE FromAddress REGEXP '3$';

### ORDER BY
- We can sort a result set using ORDER BY either alphabetically or numerically.
- ORDER BY defaults to ascending order.

In [ ]:
SELECT *
FROM Punks
ORDER BY Slots;

In [ ]:
SELECT *
FROM Punks
ORDER BY Slots DESC;

In [ ]:
# Select transactions where the Crypto amount is greater than 50 
# and order them by USD value in ascending order
SELECT *
FROM Transactions
WHERE Crypto > 50
ORDER BY USD;

### LIMIT
- LIMIT is a clause that lets you specify the maximum number of rows the result set will display.
- Saves space on the screen and makes queries run faster.
- LIMIT always goes at the very end of the query.

In [ ]:
SELECT *
FROM Transactions
WHERE Crypto > 50
ORDER BY USD
LIMIT 1;

#### Quiz 1
- Write a query to select all punks with a Rank of 'Legendary' and at least 3 Slots.
- Retrieve all transactions where the Crypto amount is greater than 100 or the USD value is above 500,000.
- Select transactions for PunkID = 110, order them by Crypto in descending order, and return only the top 2 transactions.
- Find all punks whose Type contains the word "man" (use REGEXP).
- Write a query to count how many transactions happened on or after '2022-01-01'

## SQL AGGREGATE FUNCTIONS.

- These are the functions used to perform calculations using SQL.
- Calculations performed on multiple rows of a table are called <u>aggregates.</u>
- They are:-
    - COUNT() - Count the number of rows.
    - SUM() - Sums the values in a column.
    - MAX() / MIN() - Largest/Smallest value.
    - AVG() - The average of the values in a column.
    - ROUND() - Rounds the values in a column.

### COUNT()

- COUNT() takes the name of a column as an argument and counts the number of non empty values in that column.

In [ ]:
# This counts all rows in the Transactions table
SELECT COUNT(*) AS total_count
FROM Transactions;

In [ ]:
# Counts transactions where Crypto is greater than 100
SELECT COUNT(*) AS high_crypto_count
FROM Transactions
WHERE Crypto > 100;

In [ ]:
# Counts how many punks have a Rank of Rare.
SELECT COUNT(*) AS rare_punks_count
FROM Punks
WHERE Rank = 'Rare';

### SUM()

- SUM() is a function that takes the name of a column as an argument and returns the sum of all values in that column.

In [ ]:
# calculates the total value of all transactions in USD
SELECT SUM(USD) AS total_usd
FROM Transactions;

In [ ]:
# sums the Crypto amounts for transactions involving PunkID 105
SELECT SUM(Crypto) AS total_crypto
FROM Transactions
WHERE PunkID = 105;

### MAX() / MIN()
- The MAX() and MIN() functions return the highest & lowest values in a column respectively.

In [ ]:
# gives the highest and lowest USD values among all transactions.
SELECT 
  MAX(USD) AS max_usd,
  MIN(USD) AS min_usd
FROM Transactions;

In [ ]:
SELECT 
  MAX(Slots) AS max_slots,
  MIN(Slots) AS min_slots
FROM Punks;

### AVG() 
- AVG() function calculates the average value for a particular column.

In [ ]:
# alculates the average USD value across all transactions.
SELECT AVG(USD) AS avg_usd
FROM Transactions;

In [ ]:
SELECT AVG(Crypto) AS avg_crypto
FROM Transactions;

### ROUND()
- ROUND() function take two arguments inside the parenthesis.
    - Column name
    - Integer
- It rounds off all values in the column to the number of decimal places specified by the integer.

In [ ]:
# shows the USD value of each transaction rounded to 1 decimal place.
SELECT ROUND(USD, 1) AS usd_1dp
FROM Transactions;

### GROUP BY

- GROUP BY is a clause in SQL that is used with aggregate functions.
- It is used in collaboration with SELECT statement to arrange identical data into groups eg we want to calculate the average invoice_total per client. 
- GROUP BY comes after any WHERE but before ORDER BY or LIMIT.

In [ ]:
# Calculate aggregate values (max, min, avg, sum, count) per Punk
SELECT PunkID,  
    MAX(USD) AS max_usd,
    MIN(USD) AS min_usd,
    AVG(USD) AS avg_usd,
    SUM(USD) AS total_usd,
    COUNT(*) AS txn_count
FROM Transactions
GROUP BY PunkID;

In [ ]:
# Calculate how many punks exist per rank, and their average slots.
SELECT Rank, 
    COUNT(*) AS punk_count,
    AVG(Slots) AS avg_slots
FROM Punks
GROUP BY Rank;

In [ ]:
SELECT PunkID,  
    COUNT(*) AS txn_count,
    SUM(USD) AS total_usd,
    AVG(Crypto) AS avg_crypto
FROM Transactions
WHERE Crypto > 100
GROUP BY PunkID;

#### Quiz 2
- Write a query to group transactions by PunkID and display the total number of transactions per Punk,the sum of Crypto sent by each Punk and the maximum USD value of their transactions.
- Write a query to group punks by Rank and display the total number of punks in each rank and the average number of Slots per rank.

#### Solution

In [ ]:
SELECT *
FROM Punks
WHERE Rank = 'Legendary' AND Slots >= 3;

In [ ]:
SELECT *
FROM Transactions
WHERE Crypto > 100 OR USD > 500000;

In [ ]:
SELECT *
FROM Transactions
WHERE PunkID = 110
ORDER BY Crypto DESC
LIMIT 2;

In [ ]:
SELECT *
FROM Punks
WHERE Type REGEXP 'man';

In [ ]:
SELECT COUNT(*) AS total_transactions
FROM Transactions
WHERE TransactionDate >= '2022-01-01';

In [ ]:
SELECT PunkID,
    COUNT(*) AS txn_count,
    SUM(Crypto) AS total_crypto,
    MAX(USD) AS max_usd
FROM Transactions
GROUP BY PunkID;

In [ ]:
SELECT Rank,
    COUNT(*) AS punk_count,
    AVG(Slots) AS avg_slots
FROM Punks
GROUP BY Rank;