## What is a Database 

#### A database is a collection of data stored in a format that can easily be accessed, modified, protected and analysed. 



 
## Two main types of modern databases


*The two main types of modern databases to choose from are relational and non-relational

### Relational /SQL

* A relational database is a type of database that uses a structure that allows us to identify and access data in relation to another piece of data in the database.
* They have a table-based data structure, with a strict, predefined schema required.


### Non-relational/ NoSQL 
* NoSQL databases, or non-relational databases, can be document based, graph databases, key-value pairs, or wide-column stores. NoSQL databases don’t require any predefined schema, allowing you to work more freely with “unstructured data.”


You can think of a database as a collection of tables, where each table is a collection of rows and columns.
 Conceptually, these tables exist in two ways:

##### Logical: 
The logical view of a table is the way the data is organized and presented to the user. This is the view you see when you query a table.

##### Physical:
The physical view of a table is the way the data is stored on disk. This is the view you see when you look at the underlying files that make up the table.

Databases are designed to optimize for the logical view of a table, which is the view that users interact with. However, the physical view of a table is also important, as it determines how the data is stored and accessed.


## DBMS (Database Management System)
- Database Management System (DBMS) is a software that is used to define, create and maintain a database and provides controlled access to the data. They are RDBMS & NoSQL.
- Or just a software used to manage a database.


### Relational Database Management System

- A relational database management system (RDBMS) is a program that allows you to create, update, and administer a relational database. 
- Most relational database management systems use the SQL language to access the database. 

##### RDBMS examples include
* MySQL, 
* PostgreSQL, 
* Oracle DB
* SQL Server
* SQLite

# Installing MySQL


Install notes :

Windows 10 / 11
https://www.youtube.com/watch?v=BxdSUGBs0gM&t=228s

Download Link: 
https://dev.mysql.com/downloads/windows/installer/8.0.html

Mac 
https://www.youtube.com/watch?v=x9NbReqBVOY

Online Editor https://sqliteonline.com/

# Working with Relational Databases.

- SQL or SEQUEL is the language used to interact with RDBMS.
- SQL is a programming language used to communicate with data stored in relational databases.
- Unlike other languages, SQL is a declarative language; one just needs to specify the result that they want to see and submit the query to RDBMS. 
- RDBMS executes the code at the backend and gives the desired output.

### Subsets of SQL
SQL queries can be categorized into 4 main Categories:
- **DDL (Data Definition Language)**
    - As the name suggests, these types of SQL commands are used to define & modify the structure of data. 
    - Like the structure of a table, schema.
    - Includes commands like: CREATE, ALTER, DROP etc.
- **DML (Data Manipulation Language)**
    - These are commands used to manipulate data in existing databases.
    - Includes commands like: SELECT, INSERT, UPDATE, DELETE.
- **DCL (Data Control Language)**
    - These commands control the access of the data stored in the database.
    - Includes: GRANT, REVOKE.
- **TCL (Transaction Control Language)**
    - Commands used to manage transactions in the database.
    - Used to manage changes made to data in a table by the DML statements.
    - It also allows statements to be grouped together into logical transactions.
    - Includes: COMMIT, ROLLBACK, SAVEPOINT.

## SQL Statements

* A statement is a text that a database recognizes as a valid command.
* Statements always end with a semi colon.
* Two dashes ( -- ) before an SQL statement indicate a comment.

In [ ]:
# Basic structure of an SQL Statements
CREATE TABLE table_name (
    column_1 datatype,
    column_2 datatype,
    column_3 datatype
);

#### 1) CREATE TABLE 
* This is a <b>clause</b>.
* Clauses perform specific tasks in SQL.
* By convention clauses are written in UPPERCASE.
* Clauses are also called <b>commands</b>

#### 2) table_name
* Refers to the name of the table that the command is applied to.

#### 3) column_1, datatype, column_2, column_3
* These are called parameters. They are passed to the clause as arguments.

## SQL CLAUSES
- Clauses are in-built functions available to us in SQL.
- Clauses help us filter and analyze data quickly. 
- When we have large amounts of data stored in the database, we use Clauses to query and get data required by the user.

#### 1) CREATE TABLE
* Create allows us to create new table in the database.

In [ ]:
CREATE TABLE Punks (
  ID INT PRIMARY KEY,
  Sex VARCHAR(10),
  Type VARCHAR(20),
  Skin VARCHAR(20),
  Slots INT,
);

In [ ]:
CREATE TABLE Transactions (
  Txn VARCHAR(66) PRIMARY KEY, 
  PunkID INT,
  FromAddress VARCHAR(100),
  ToAddress VARCHAR(100),
  Crypto DECIMAL(20, 8),
  USD DECIMAL(20, 2),
  TransactionDate DATETIME,  
  FOREIGN KEY (PunkID) REFERENCES Punks(ID)
);

## PRIMARY KEY vs FOREIGN KEY

- Each table has a column that uniquely identifies each row of that table. The special columns are called <b>Primary Keys</b>

###### Requirements  for Primary Key
- None of the values can be NULL.
- Each value must be unique.
- A table can not have more than one primary key column.

<b>When a primary key for one table appears in a different table its called a <u>FOREIGN KEY</u></b>

#### 2) INSERT
- Inserts a new row into the table.

In [ ]:
INSERT INTO Punks (ID, Sex, Type, Skin, Slots) VALUES
(123, 'Male', 'Human', 'Light', 2),
(456, 'Female', 'Zombie', 'Green', 3),
(789, 'Male', 'Ape', 'Dark', 1);

In [ ]:
INSERT INTO Transactions (Txn, PunkID, FromAddress, ToAddress, Crypto, USD, TransactionDate) VALUES
('0xabc123...', 123, '0xfrom1...', '0xto1...', 15.5, 30000, '2021-03-15 12:00:00'),
('0xdef456...', 456, '0xfrom2...', '0xto2...', 100.0, 250000, '2021-06-10 09:30:00'),
('0xghi789...', 789, '0xfrom3...', '0xto3...', 200.0, 600000, '2021-12-01 18:45:00');

#### 3) SELECT
- SELECT is used to fetch data from the database

In [ ]:
SELECT *
FROM Punks;

# * indicates we want to select all columns. We can also select individual columns ( SELECT ID,Type FROM Punks )
# FROM Punks - Specifies the table we want to query the data from.

#### 4) ALTER
Alter statement adds new column to a table.

In [ ]:
ALTER TABLE Punks
ADD COLUMN Rank VARCHAR(20);
# The row that existed before the column was created have NULL value for Rank column

#### 5) UPDATE
- Update statement edits a row in a table.
- Used when you want to update existing records.

In [ ]:
UPDATE Punks
SET Rank='Common'  # 'Common', 'Rare', 'Legendary'
WHERE ID=123;
# SET - Indicates the column we want to update.
# WHERE - Indicates which row to update with the new column value.

#### 6) DELETE
- Deletes one or more rows from a table.

In [ ]:
DELETE FROM Punks 
WHERE Rank IS NULL;

##### We will explore more clauses as we continue.